{% extends 'base.html' %}

{% block head%}

<html lang ="en">
<head>
  <meta charset = "utf-8">
  <meta name="viewport" content="width=device-width" initial-scale="1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/home_page.css">

{% endblock %}

{% block body %}

  <div class="wrap">
    <div class="clip-block">
      <div class="clip-each clip-solid">
      <div class="social-share-block">
        <span class="social-each"><strong>10</strong>
        </span> <span>&hearts;</span>
      </div>
      </div>
    </div>


    <div class="clip-block">
      <a href="#" class="clip-each clip-gradient">
        <div class="clip-caption">Sentiment Analysis</div>
      </a>
      <a href="#" class="clip-each clip-border">
        <div class="clip-caption">Text Summarization</div>
      </a>
    </div>

    <div class="clip-block">
        <a href="#" class="clip-each clip-gradient">
          <div class="clip-caption">Entity Recognition</div>
        </a>

    </div>
    <div class="clip-block">

      <a href="#" class="clip-each clip-border">
        <div class="clip-caption">Topic Modeling</div>
      </a>
      <a href="#" class="clip-each clip-gradient">
        <div class="clip-caption">OCR</div>
      </a>
    </div>



    </div>

    <!-- <div class="clip-block">
      <a href="#" class="clip-tagline">balance</a>
    </div> -->
    <svg class="clip-svg">
      <defs>
        <clipPath id="hexagon-clip" clipPathUnits="objectBoundingBox">
          <polygon points="0.25 0.05, 0.75 0.05, 1 0.5, 0.75 0.95, 0.25 0.95, 0 0.5" />
        </clipPath>
      </defs>
    </svg>

    <svg class="clip-svg">
      <defs>
        <clipPath id="triangle-clip" clipPathUnits="objectBoundingBox">
          <polygon points="1 0.03, 0.17 1, 1 1" />
        </clipPath>
      </defs>
    </svg>
  </div>

{% endblock %}
